/* My Color Pallette */
:root {
--blue: #4e598c;
--white: #ffffff;
--light: #f9c784;
--medium: #fcaf58;
--dark: #ff8c42;
}
/*Wrap CSS */
.wrap{
  display: grid;
  background-color: var(--medium);
  background-size: cover;
  grid-template-areas:
  'wbox1 wbox2';
}
.wbox1{
  grid-area: wbox1;
  justify-items: center;
}

.wbox2{
  grid-area: wbox2;
  font-size: 28px;
  font-family:Sriracha, sans-serif;
}
.fas-5{
font-size: 75px;
}
/* Navigation Bar CSS*/

nav ul  {
  display: grid;
  grid-gap: 2px;
  list-style: none;
  padding: 0;
  justify-items: center;
  background-color: var(--dark);
  background-size: cover;
}

a{
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family:Sriracha, sans-serif;
    border-style: dotted;
    border-width: thick ;

}

nav ul a:hover{
  background-color: var(--white);
  color: var(--dark);
}

 a:link {
  color: var(--dark);
  text-decoration: none;
}

a:visited{
  color: var(--white);
  text-decoration: none;
}
a:active{
color: var(--white);
text-decoration: none;
}

/* About Me CSS */
.aboutme{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  background-color: var(--light);

  grid-template-areas:
  'box1 box1'
  'box3 box2'
  'box3 box2'
}

.box1{
  grid-area: box1;
}

.box2{
  grid-area: box2;
}

.box3{
  grid-area: box3;
}

.aboutme img{
  max-width: 50%;
}

.aboutme h3{
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}
.aboutme p {
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.hobbies{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  margin-top: 20px;
  background-color: var(--medium);
  grid-template-areas:
  'hbox1 hbox1 hbox1'
  'hbox2 hbox2 hbox2'
  'hbox3 hbox4 hbox5';
}

.hbox1{
  grid-area: hbox1;
}

.hbox2{
  grid-area: hbox2;
}
.hbox3{
  grid-area: hbox3;
}
.hbox4{
  grid-area: hbox4;
}
.hbox5{
  grid-area: hbox5;
}

.hbox{
  background-color: var(--blue);
  border-color: var(--blue);
  border-width:50px;
  border-style: dotted;
  margin: 5px;
  margin-top: 25px;
}
.hobbies h3{
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}

.hobbies h4, .hobbies h6{
  font-family: roboto, sans-serif;
  text-align: center;
}
.hobbies h4{
  font-size:30px;
}

.hobbies h6{
  font-size: 15px;
}

.fa-7{
font-size: 175px;
color: var(--white);
}
/* The blockquote "Why" CSS*/
.why{
  background-color: var(--light);
  background-size: cover;
}
.why h3{
  text-align: center;
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}

blockquote{
font-family: roboto, sans-serif;
font-size: 20px;
}

/*Footer CSS*/

footer{
  text-align: center;
   background-color: var(--dark);
   Color:var(--white);
   font-family:Sriracha, sans-serif;
   font-size: 20px;
}

/*Table CSS*/

.table{
  background-color: var(--light);
  background-size: cover;
  text-align: center;
}
table{
  margin-left: auto;
 margin-right: auto;
 width: 100%;
}
caption{
  font-family:Sriracha, sans-serif;
  font-size: 20px;
  color: var(--blue);
}
table, th, td {
  border: 1px solid var(--white);

}
th{
  background-color: var(--dark);
  color: var(--white);
  font-family:Sriracha, sans-serif;
  font-size: 20px;
}

td{
    font-family: roboto, sans-serif;
    color: var(--blue);
    height: 50px;
    font-size: 15px;
}

.table p{
  font-family:Sriracha, sans-serif;
  font-size: 15px;
  background-color: var(--dark);
  color: var(--white);
}

/*Panda Express CSS*/

.workboxes {
  display:grid;
  justify-items:center;
  background-color: var(--dark);
  grid-template-areas:
  'workbox2 workbox1'
  'workbox3 workbox1';
}
.workbox ul{
  list-style-type: square;

}
.workbox img{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.workbox h4 {
  font-family:Sriracha, sans-serif;
  font-size: 40px;
  color: white;
}
.workbox ul{
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 30px;
  color: white;
}
.workbox1 {
  grid-area: workbox1;
}
.workbox2 {
  grid-area: workbox2;
}
.workbox3 {
  grid-area: workbox3;
}
/*Traits CSS*/


.tboxes{
  display: grid;
  justify-items: center;
  grid-template-areas:
  'tbox1 tbox1 tbox1 tbox1 tbox1'
  'tbox2 tbox3 tbox4 tbox4 tbox5'

}
  .tbox1{
grid-area: tbox1;

}

.tbox1 h3{
  font-family:Sriracha, sans-serif;
  font-size: 30px;
  color: var(--dark);
}
.tbox2{
grid-area: tbox2;
}
.tbox3{
grid-area: tbox3;
}
.tbox4{
grid-area: tbox4;
}
.tbox5{
grid-area: tbox5;
}

.tbox img{
  max-width: 50%;
}

.tbox2, .tbox4{
  color: var(--dark);
}
.tbox h5 {
font-family:Sriracha, sans-serif;
font-size: 30px;
}

.tbox p{
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 15px;
}
.tbox3, .tbox5{
  background: var(--dark);
  color: var(--white);
}

/*Concepts I learned CSS*/

.concepts img {
  max-width: 50%;
  margin-left: auto;
  margin-right:auto;
}

.concepts{
  display: grid;
  grid-gap: 2px;
  justify-content:center;
  grid-template-areas:
  'cbox1 cbox2 cbox6'
  'cbox3 cbox4 cbox5';
}

.cbox1{
  grid-area: cbox1;
}
.cbox2{
  grid-area: cbox2;
}
.cbox3{
  grid-area: cbox3;
}
.cbox4{
  grid-area: cbox4;
}
.cbox5{
  grid-area: cbox5;
}
.cbox6{
  grid-area: cbox6;
}
.concepts h5{
  font-family:Sriracha, sans-serif;
  font-size: 30px;
  text-align: center;
}

.concepts p{
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 15px;
}

.cbox1,.cbox3,.cbox5, .cbox6{
  font-family:Sriracha, sans-serif;
  font-size: 30px;
  background: var(--medium);
  color: var(--white);
}
.cbox1 img,.cbox3 img,.cbox5 img, .cbox6 img{
  margin-left:auto;
  margin-right:auto;

}
.cbox2,.cbox4 {
  font-family: roboto, sans-serif;
  text-align: center;
  font-size: 15px;
  background: var(--white);
  color: var(--dark);
  border-style: dotted;
  border-width: thick ;
}
  @media(max-width:700px){
  .concepts{

    grid-template-areas:
    'cbox1 cbox2'
    'cbox3 cbox4'
    'cbox5 cbox6';
}
    .tboxes{
      grid-template-areas:
      'tbox1 tbox1'
      'tbox2 tbox5'
      'tbox3 tbox4';
}
.workboxes {
  grid-template-areas:
  'workbox1'
  'workbox2'
  'workbox3';
}
.workbox img{
max-width: 50%;
margin-left: auto;
margin-right:auto;
}
}
@media (max-width:500px){
  .concepts{

    grid-template-areas:
    'cbox1'
    'cbox2'
    'cbox3'
    'cbox4'
    'cbox5'
    'cbox6';
  }
    .tboxes{
      grid-template-areas:
      'tbox1'
      'tbox2'
      'tbox3'
      'tbox4'
      'tbox4'
      'tbox5'
}
.aboutme{
  grid-template-areas:
  'box1'
  'box2'
  'box3'

}

.hobbies{
  grid-template-areas:
  'hbox1'
  'hbox2'
  'hbox3'
  'hbox4'
  'hbox5';
}
.workboxes {
  justify-items: center;
  grid-template-areas:
  'workbox1'
  'workbox2'
  'workbox3';
}
.workbox img{
max-width: 50%;
margin-left: auto;
margin-right:auto;
}
}












/**/
