/* My Color Pallette */
:root {
--blue: #4e598c;
--white: #ffffff;
--light: #f9c784;
--medium: #fcaf58;
--dark: #ff8c42;
}
/*Wrap CSS */
.wrap{
  display: grid;
  background-color: var(--medium);
  background-size: cover;
  grid-template-areas:
  'wbox1 wbox2';
}
.wbox1{
  grid-area: wbox1;
  justify-items: center;
}

.wbox2{
  grid-area: wbox2;
  font-size: 28px;
  font-family:Sriracha, sans-serif;
}
.fas-5{
font-size: 75px;
}
/* Navigation Bar CSS*/

nav ul  {
  display: grid;
  grid-gap: 2px;
  list-style: none;
  padding: 0;
  justify-items: center;
  background-color: var(--dark);
  background-size: cover;
}

a{
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-family:Sriracha, sans-serif;
    border-style: dotted;
    border-width: thick ;

}

nav ul a:hover{
  background-color: var(--white);
  color: var(--dark);
}

 a:link {
  color: var(--dark);
  text-decoration: none;
}

a:visited{
  color: var(--white);
  text-decoration: none;
}
a:active{
color: var(--white);
text-decoration: none;
}

/* About Me CSS */
.aboutme{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  background-color: var(--light);

  grid-template-areas:
  'box1 box1'
  'box3 box2'
  'box3 box2'
}

.box1{
  grid-area: box1;
}

.box2{
  grid-area: box2;
}

.box3{
  grid-area: box3;
}

.aboutme img{
  max-width: 50%;
}

.aboutme h3{
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}
.aboutme p {
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.hobbies{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  margin-top: 20px;
  background-color: var(--medium);
  grid-template-areas:
  'hbox1 hbox1 hbox1'
  'hbox2 hbox2 hbox2'
  'hbox3 hbox4 hbox5';
}

.hbox1{
  grid-area: hbox1;
}

.hbox2{
  grid-area: hbox2;
}
.hbox3{
  grid-area: hbox3;
}
.hbox4{
  grid-area: hbox4;
}
.hbox5{
  grid-area: hbox5;
}

.hbox{
  background-color: var(--blue);
  border-color: var(--blue);
  border-width:50px;
  border-style: dotted;
  margin: 5px;
  margin-top: 25px;
}
.hobbies h3{
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}

.hobbies h4, .hobbies h6{
  font-family: roboto, sans-serif;
  text-align: center;
}
.hobbies h4{
  font-size:30px;
}

.hobbies h6{
  font-size: 15px;
}

.fa-7{
font-size: 175px;
color: var(--white);
}
/* The blockquote "Why" CSS*/
.why{
  background-color: var(--light);
  background-size: cover;
}
.why h3{
  text-align: center;
  font-family:Sriracha, sans-serif;
  font-size: 40px;
}

blockquote{
font-family: roboto, sans-serif;
font-size: 20px;
}

/*Footer CSS*/

footer{
  text-align: center;
   background-color: var(--dark);
   Color:var(--white);
   font-family:Sriracha, sans-serif;
   font-size: 20px;
}









































/**/
