/* My Color Pallette */
:root {
--blue: #4e598c;
--white: #ffffff;
--light: #f9c784;
--medium: #fcaf58;
--dark: #ff8c42;
}
/* Navigation Bar CSS*/

nav ul  {
  display: grid;
  grid-gap: 2px;
  list-style: none;
  padding: 0;
  justify-items: center;
  background-color: var(--dark);
  background-size: cover;
}

a{
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav ul a:hover{
  background-color: var(--white);
  color: var(--dark);
}

 a:link {
  color: var(--dark);
  text-decoration: none;
}

a:visited{
  color: var(--white);
  text-decoration: none;
}
a:active{
color: var(--white);
text-decoration: none;
}

/* About Me CSS */
.aboutme{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  grid-template-areas:
  'box1 box1'
  'box3 box2'
  'box3 box2'
}

.box1{
  grid-area: box1;
}

.box2{
  grid-area: box2;
}

.box3{
  grid-area: box3;
}

.aboutme img{
  max-width: 50%;
}

.hobbies{
  display: grid;
  grid-gap:2px;
  justify-items: center;
  grid-template-areas:
  'hbox1 hbox1 hbox1'
  'hbox2 hbox2 hbox2'
  'hbox3 hbox4 hbox5';
}

.hbox1{
  grid-area: hbox1;
}

.hbox2{
  grid-area: hbox2;
}
.hbox3{
  grid-area: hbox3;
}
.hbox4{
  grid-area: hbox4;
}
.hbox5{
  grid-area: hbox5;
}

/* The blockquote "Why" CSS*/

.why h3{
  text-align: center;
}

blockquote{

}

footer{
  text-align: center;
}









































/**/
